{{ define "main" }}
  {{ $pages := .Pages }}

  {{ if .IsHome }}
    {{ $pages = where site.RegularPages "Type" "ne" "page" }}
    {{ if eq (len $pages) 0 }}
      {{ $pages = site.RegularPages }}
    {{ end }}
    {{ $excluded := slice "/about/" "/archive/" "/replies/" }}
    {{ $pages = where $pages "RelPermalink" "not in" $excluded }}
  {{ else }}
    {{ $pages = $pages.ByDate.Reverse }}
  {{ end }}

  {{ $paginator := .Paginate ($pages.ByDate.Reverse) 10 }}
  {{ partial "post-list.html" (dict "pages" $paginator.Pages) }}
  {{ partial "pagination.html" $paginator }}
{{ end }}
